# Зависимости
node_modules/

# Сборка
dist/
dist-ssr/
*.local

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Редакторы
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Переменные окружения
.env
.env.local
.env.*.local
